    [[ for (var chunk in htmlWebpackPlugin.files.chunks) { ]]
    [[if (chunk =='manifest'){ ]]
    <script src="{{ htmlWebpackPlugin.files.chunks[chunk].entry}}"></script>
    [[ } ]]
    [[ } ]]

    [[ for (var chunk in htmlWebpackPlugin.files.chunks) { ]]
    [[if (chunk =='vendor'){ ]]
    <script src="{{ htmlWebpackPlugin.files.chunks[chunk].entry}}"></script>
    [[ } ]]
    [[ } ]]
    [[ for (var chunk in htmlWebpackPlugin.files.chunks) { ]]
        [[if (chunk !='vendor' && chunk!= 'manifest'){ ]]
            <script src="{{ htmlWebpackPlugin.files.chunks[chunk].entry}}"></script>
        [[ } ]]
    [[ } ]]
    [[ if (htmlWebpackPlugin.options.devServer) { ]]
    <script src="{{htmlWebpackPlugin.options.devServer}}/webpack-dev-server.js"></script>
    [[ } ]]
</body>
</html>