<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Expires" content="0">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Pragma" content="no-cache">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta name="baidu-site-verification" content="gjQdVKptVG" />
        <title>{{htmlWebpackPlugin.options.title}}</title>
        <link rel="shortcut icon" href="{{require('images/favicon.ico') }}">
        <!--公共样式-->
        [[ for (var css in htmlWebpackPlugin.files.css) { ]]
        [[if (htmlWebpackPlugin.files.css[css].indexOf('vendor') > -1 ){ ]]
            <link href="{{htmlWebpackPlugin.files.css[css]}}" rel="stylesheet">
        [[ } ]]
        [[ } ]]
        <!--私有样式-->
        [[ for (var css in htmlWebpackPlugin.files.css) { ]]
        [[if (htmlWebpackPlugin.files.css[css].indexOf('vendor') == -1 ){ ]]
        <link href="{{htmlWebpackPlugin.files.css[css]}}" rel="stylesheet">
        [[ } ]]
        [[ } ]]
    </head>
    <body>

